* {  box-sizing : border-box; }

body {
	font-family: 'Roboto', sans-serif;
	background: url('../images/jaguar-xe.jpg') no-repeat center fixed; 
	background-size: cover;
}

.container {
	background: rgba(0, 0, 0, 0.7);
	font-size: 18px;
	border: 5px ;
	border-radius: 8px;
	
	margin-top: 80px;
	margin-left: 90px;
	padding: 20px 30px 30px;
}

.container h2 , p {
	color: white;
}

input {
	background-color: #DB3030;
	color: white;
	font-weight: bold;
	text-align: center;
	width: 150px;
	height: 30px;
	border-radius: 5px;
	border: 1px red;
	font-size: 15px;
}

@media (min-width: 768px) {

	.container {
		width: 600px;
		background: cover;
		
	}
}
